@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');



*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat','Poppins', sans-serif;
}

a{
    text-decoration: none;
}

body{
    background-color: rgb(222, 235, 247);
    height: 100vh;
}

.container{
    height: 100%;
}

.black_header{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 95px;
    color: white;
    background-color: black;
    margin-bottom: 30px;
}

.black_header a{
    color: white;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: solid 2px;
    border-radius: 35px;
    width: 300px;
    margin-left: 25px;
}

.black_header a:hover{
    transition: 0.3s;
    background-color: white;
    color: black;
}


.content{
    overflow-y: auto;
    scroll-snap-align: start;
    margin-left: 25px;
    border-radius: 0px;
    background-color: rgb(222, 235, 247);
}

.main_window{
    display: flex;
    flex-direction: column;
    margin: 30px;
    margin-right: 50px;
    padding: 45px;
    height: 83vh;
    border-radius: 40px;
    background-color: rgb(222, 235, 247);
}

.first_part{

    padding: 25px;
}

.first_part span{
    font-size: 35px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 900;
    color: black;
}

.first_part h4{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(255, 114, 118);
}

.shema_arm{
    display: flex;
    align-items: center;
}

.shema_arm p{
    margin-left: 25px;
    padding: 25px;
    font-size: 35px;
}

.image_part{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 20px;
    font-size: 35px;
    background-color: white;
    border-radius: 45px;
}

.image_part img{
    width: 400px;
    height: 500px;
}

.image_part a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    background-color: rgb(0, 112, 192);
}

.shema_arm_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.second_part span{
    font-size: 35px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 900;
    color: black;
}

.second_part h4{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(255, 114, 118);
}

.image_part_2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
    font-size: 35px;
    background-color: white;
    border-radius: 45px;
}

.image_part_2 img{
    width: 600px;
    height: 500px;
}

.image_part_2 a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    background-color: rgb(0, 112, 192);
}

.table_plus_minus{
    display: flex;
    align-items: center;
    padding: 25px;
    background-image: url(./table_background.png);
    margin-right: 15px;
}

.second_part p{
    padding: 25px;
    padding-left: 0;
    font-size: 25px;
}

.iksweb{
    text-align: start;
    max-width: 1200px;
    margin-right: 200px;
}



th{
    text-align: start;
    vertical-align: middle;
    margin-left: 25px;
    padding-left: 25px;
    font-size: 30px;
    font-weight: 800;
}

td{
    font-size: 22px;
}

td img{
    height: auto;
    width: 100px;
}

.iksweb th{
    color: #3eba94;
}

.iksweb {
    background-color: #e2f6f0;
}

.iksweb2{
    background-color: #ffe1e2;
}

.iksweb2 th{
    color: #fd7276;
}

.td_text{
    border-bottom: solid 2px #3eba94;
}

.td_text2{
    border-bottom: solid 2px #fd7276;
}

.content::-webkit-scrollbar-track
{   
    border-radius: 10px;
	background-color: #dadada;
	border-radius: 10px;
    padding: 15px;
    width: 25px;

}

.content::-webkit-scrollbar
{   

    border-radius: 10px;
	width: 10px;
	background-color: #f5f5f500;
    padding: 15px;
    width: 15px;
    
}

.content::-webkit-scrollbar-thumb
{   
    margin-right: 25px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	background-image: rgba(0, 0, 0, 0.2);
    width: 15px;
}

.text_part p{
    font-size: 30px;
}


.text_part h1{
    margin-left: 50px;
    font-size: 25px;
}

.third_part img{
    width: 100%;
}

.third_part p{
    font-size: 25px;
}

.third_part ul li{
    font-size: 25px;
}

.third_page_text{
    font-size: 25px;
    margin-right: 15px;
}

.third_page_text_header{
    font-size: 25px;
}

.third_page_text span{
    font-weight: 700;
    margin: 0;
    font-size: 25px;
}

.iksweb3{
    border-spacing: 0px;
    border-collapse: collapse;
}

.iksweb3 th{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    border-spacing: 0px;
    border-collapse: collapse;
    color: white;
    background-color: rgb(0, 112, 192);
    padding: 10px;
    border: solid 1px black;
}

.iksweb3 tr td{
    text-align: center;
    border-spacing: 0px;
    font-size: 25px;
    padding: 5px;
    border: solid 1px black;
}